body {
  margin: 0;
  font-family: 'RtBasis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "RtBasis";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/RostelecomBasis-Medium.woff") format("woff")
}